<div class='alert alert-warning'>

NumPy's interactive examples are experimental and may not always work as expected, with high load times especially on low-resource platforms, and the version of NumPy might not be in sync with the one you are browsing the documentation for. If you encounter any issues, please report them on the [NumPy issue tracker](https://github.com/numpy/numpy/issues).

</div>

Using array-scalar type:

In [ ]:
import numpy as np
np.dtype(np.int16)

dtype('int16')

Structured type, one field name 'f1', containing int16:

In [ ]:
np.dtype([('f1', np.int16)])

dtype([('f1', '<i2')])

Structured type, one field named 'f1', in itself containing a structured
type with one field:

In [ ]:
np.dtype([('f1', [('f1', np.int16)])])

dtype([('f1', [('f1', '<i2')])])

Structured type, two fields: the first field contains an unsigned int, the
second an int32:

In [ ]:
np.dtype([('f1', np.uint64), ('f2', np.int32)])

dtype([('f1', '<u8'), ('f2', '<i4')])

Using array-protocol type strings:

In [ ]:
np.dtype([('a','f8'),('b','S10')])

dtype([('a', '<f8'), ('b', 'S10')])

Using comma-separated field formats.  The shape is (2,3):

In [ ]:
np.dtype("i4, (2,3)f8")

dtype([('f0', '<i4'), ('f1', '<f8', (2, 3))])

Using tuples.  ``int`` is a fixed type, 3 the field's shape.  ``void``
is a flexible type, here of size 10:

In [ ]:
np.dtype([('hello',(np.int64,3)),('world',np.void,10)])

dtype([('hello', '<i8', (3,)), ('world', 'V10')])

Subdivide ``int16`` into 2 ``int8``'s, called x and y.  0 and 1 are
the offsets in bytes:

In [ ]:
np.dtype((np.int16, {'x':(np.int8,0), 'y':(np.int8,1)}))

dtype((numpy.int16, [('x', 'i1'), ('y', 'i1')]))

Using dictionaries.  Two fields named 'gender' and 'age':

In [ ]:
np.dtype({'names':['gender','age'], 'formats':['S1',np.uint8]})

dtype([('gender', 'S1'), ('age', 'u1')])

Offsets in bytes, here 0 and 25:

In [ ]:
np.dtype({'surname':('S25',0),'age':(np.uint8,25)})

dtype([('surname', 'S25'), ('age', 'u1')])