<div class='alert alert-warning'>

NumPy's interactive examples are experimental and may not always work as expected, with high load times especially on low-resource platforms, and the version of NumPy might not be in sync with the one you are browsing the documentation for. If you encounter any issues, please report them on the [NumPy issue tracker](https://github.com/numpy/numpy/issues).

</div>

In [ ]:
import numpy as np
a = np.array([[1, 2], [3, 4]])
np.mean(a)

2.5

In [ ]:
np.mean(a, axis=0)

array([2., 3.])

In [ ]:
np.mean(a, axis=1)

array([1.5, 3.5])

In single precision, `mean` can be inaccurate:

In [ ]:
a = np.zeros((2, 512*512), dtype=np.float32)
a[0, :] = 1.0
a[1, :] = 0.1
np.mean(a)

np.float32(0.54999924)

Computing the mean in float64 is more accurate:

In [ ]:
np.mean(a, dtype=np.float64)

0.55000000074505806 # may vary

Computing the mean in timedelta64 is available:

In [ ]:
b = np.array([1, 3], dtype="timedelta64[D]")
np.mean(b)

np.timedelta64(2,'D')

Specifying a where argument:

In [ ]:
a = np.array([[5, 9, 13], [14, 10, 12], [11, 15, 19]])
np.mean(a)

12.0

In [ ]:
np.mean(a, where=[[True], [False], [False]])

9.0