<div class='alert alert-warning'>

NumPy's interactive examples are experimental and may not always work as expected, with high load times especially on low-resource platforms, , and the version of NumPy might not be in sync with the one you are browsing the documentation for. If you encounter any issues, please report them on the [NumPy issue tracker](https://github.com/numpy/numpy/issues).

</div>

In [ ]:
import numpy as np
a = np.ma.array([1e10, 1e-7, 42.0], mask=[0, 0, 1])
a

masked_array(data=[10000000000.0, 1e-07, --],
             mask=[False, False,  True],
       fill_value=1e+20)

In [ ]:
b = np.array([1e10, 1e-7, -42.0])
b

array([  1.00000000e+10,   1.00000000e-07,  -4.20000000e+01])

In [ ]:
np.ma.allequal(a, b, fill_value=False)

False

In [ ]:
np.ma.allequal(a, b)

True